:root {
	--main-text-color: rgb(204, 135, 145);
}

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(245, 235, 236);
	font-family: 'Josefin Slab', serif;
}
nav {
	width: 99%;
	height: 5rem;
	position: relative;
	top: 1rem;
	bottom: 1rem;
	left: 1rem;
}

.main-picture {
	background: url('/images/hero-mobile.jpg') no-repeat;
	background-size: 110%;
	width: 102vw;
	height: 36vh;
	margin-left: -1rem;
	background-size: cover;
	margin-bottom: 3rem;
}

.text {
	margin: auto;
	padding: 1rem;
	width: 85%;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	font-size: 2.2rem;
	letter-spacing: 0.6rem;
	font-weight: 700;
	width: 75%;
	margin: auto;
}

span {
	color: var(--main-text-color);
	font-weight: 500;
}

p {
	color: var(--main-text-color);
	font-weight: bolder;
	line-height: 1.5rem;
}

form {
	width: 100vw;
	display: inline;
}

input,
input:focus {
	padding: 0.8rem;
	outline: none;
	width: 70vw;
	margin-left: -1rem;
	border-radius: 24px;
	background-color: transparent;
	border: 1px solid var(--main-text-color);
	display: inline;
}

::placeholder {
	color: var(--main-text-color);
}

button {
	border-radius: 30px;
	padding: 0.6rem 1.8rem;
	border: none;
	box-shadow: 1px 1px lightpink;
	background-color: var(--main-text-color);

	position: relative;
	right: -35%;
	top: -2.6rem;
}

.error {
	background: url('images/icon-error.svg') no-repeat;
	width: 3rem;
	height: 3rem;
	border-radius: 20%;
	background-size: 1.5rem;
	position: absolute;
	left: -2rem;
	display: none;
}

.error-text {
	font-size: 1rem;
	font-weight: bold;
	color: red;
	text-align: left;
	background-color: transparent;
	position: relative;
	top: -2rem;
}

.btn-clicked {
	background-color: rgb(219, 194, 198);
	box-shadow: 5px 5px #ccc;
}

@media screen and (min-width: 768px) {
	body {
		max-width: 100%;
	}
	main {
		display: flex;
		align-self: start;
		max-width: 100vw;
		max-height: 85vh;
	}

	.main-picture {
		order: 1;
		background: url('/images/hero-desktop.jpg') no-repeat;
		background-size: 100% 100vh;
		background-position-y: top;
		width: 40%;
		height: 100vh;
		position: relative;
		top: -5.5rem;
		right: -0.5rem;
	}

	h1 {
		font-size: 300%;
		text-align: left;
		margin-left: 0;
		width: 5vw;
	}
	.text {
		flex: 1;
		height: 40%;
		margin-left: 10%;
		text-align: left;
	}

	.logo {
		position: relative;
		top: 3rem;
		left: 10%;
	}

	.text > p {
		width: 60%;
		word-wrap: break-word;
		font-size: 1rem;
		margin-bottom: 3rem;
	}

	input,
	input:focus {
		width: 60%;
		padding: 0.8rem;
	}

	button {
		position: relative;
		left: -4.2rem;
		top: 0.25rem;
		padding: 0.6rem 1.8rem;
	}

	.error-text {
		top: 1rem;
	}
}

/*
button positioning even responsively
desktop rendering
*/
